<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <section id="boggle">
      <table class="board">
        {% for row in board %}
        <tr>
          {%for r in row%}
          <td>{{r}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </table>
      {%block content%}{%endblock%}
      <p class="msg">
        <!-- our JS will put messages here dynamically -->
      </p>

      <ul class="words">
        <!-- our JS will words here as they score -->
      </ul>
    </section>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    {%block game_init%}{%endblock%}
  </body>
</html>
